
body {
    background-color: green;
}

.contact-form {
    background-color: yellow;
    align-items: center;
}
h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    font-weight: 200px; 
    text-align:left;
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 30px;
}

#fname {
    height: 30px;
    width: 500px;
}

#lname {
    height: 30px;
    width: 500px;
}

#email {
    height: 30px;
    width: 500px;
}

#com {
    height: 200px;
    width: 500px;
}

p {
    font-family: font-family: 'PT Sans Caption', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: justify;
}

button {
    width: 150px;
    height: 30px;
    box-shadow: 50pt;
}