
.homepageimg {
    background-color: ;
    margin: 5px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 520px;
    width: 1500px;
    padding: 20px;
    align-items: center;

}

.image-1 img {
    width: 375px;
    height: 375px;
    padding: 0 10px;
    
}

.image-2 img {
    width: 600px;
    height: 450px;
    padding: 0 10px;
}

.image-3 img {
    width: 375px;
    height: 375px;
    padding: 0 10px;
}